//generators
//BACKGROUNDS
@each $color-id in $bg-colors {
	$i: index($bg-colors, $color-id);
	$color: nth($bg-colors-d, $i);

	.#{$color-id}-bg{
		background-color: $color;
	}
}

//TEXT
@each $color-id in $text-colors {
	$i: index($text-colors, $color-id);
	$color: nth($text-colors-d, $i);

	.#{$color-id}-text{
		color: $color;
	}
}

//BORDERS
@each $color-id in $border-colors {
	$i: index($border-colors, $color-id);
	$color: nth($border-colors-d, $i);

	.#{$color-id}-border{
		border:$border-size solid $color;
	}
}