//STYLE OVERRIDES
//take away asterix
div.required{
	abbr{
		display: none;
	}
}

div.error{
	*{ //hack: could be troublesome
		border-color: $alert-color;
	}
	*:focus{
		border-color: $alert-color;
	}
}