//expand
table{
	//EXPAND
	width:100%;
	//FIX SPACING
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	//LINES
	td, th{
		padding: 8px;
		border-bottom: 1px solid rgba($black, 0.1);
	}
	//STRIPE
	tr:nth-child(even) {
	   background-color: rgba($black, 0.03);
	}
	//HIGHLIGHT
	tbody tr:hover{
		background-color: rgba($black, 0.07);
	}
}

//BUILDERS
//inverse, additional color pallets, highlight colors