//IMPORT FONTS HERE Typekit and Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

//DEFAULTS
$typeface-primary: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-secondary: "Roboto Slab", serif;
$typeface-tertiary: "Inconsolata", monospace;
$normal-font-weight: 400;
$header-font-weight: 300;
$subheader-font-weight: 400;

//FONT CLASSES TO GENERATE
$typeface-classes: primary secondary tertiary;
$typeface-define: $typeface-primary $typeface-secondary $typeface-tertiary;

//WEIGHT CLASSES IN ADDITION TO DEFAULT
$weight-classes:light strong;
$weight-define: 200 700;

//TEXT Transform: Underline, uppercase, etc text-transform: uppercase, lowercase, capitalize;
$transform-classes: up down cap;//shorter names for simplicity when chaining
$transform-define: uppercase lowercase capitalize;

//Letter spacing varients
$spacing-classes: sleak wide;
$spacing-define: 0.2rem 1rem;

@import "builders/build_typography"

//TODO: COOL FONT SHADOW EFFECT ON http://fittextjs.com

//FOUNDATION STYLES: CAN BE OVERRIDDEN BUT NEEDED
$font-family-sans-serif: $typeface-primary;
$font-family-serif: $typeface-secondary;
$font-family-monospace: $typeface-tertiary;
$body-bg: $white;//can use any from colors
$body-font-color: rgba($black, $transparent-strong);
$body-font-family: $font-family-sans-serif;
$body-font-weight: $normal-font-weight;
