//SAME AS BUTTONS FOR SHADOWS BORDERS ROUNDING
//SPECIFY STYLES TO GENERATE THAT CAN BE APPLIED AND SET AS DEFAULTS

//FOUNDATION STYLES: CAN BE OVERRIDDEN BUT NEEDED
$global-radius: 5px;
$global-rounded: 1000px;

//FONT WEIGHT CLASSES TO GENERATE - UTILITIES?

//LETTER SPACING CLASSES TO GENERATE - UTILITIES?

//ADDITIONAL UTILITIES
//need vertical alignment
// hack: needed for admin
.row.full-width {
  width: 100%;
  max-width: 100%;
}
.no-margin{
	margin: 0px;
}

//* modifiers:padding, border, space between buttons
//* gradient
//* blur
//* middle

// .button.shadow{
// 	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
// }
// .button.text-shadow{
// 	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
// }
// .button.inner-text-shadow{
// 	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
// }