$primary-color: #3389dd;
$complement-color: adjust_hue($primary-color, 180);
$secondary-color: adjust_hue($primary-color, 135);
$tertiary-color: adjust_hue($primary-color, 200);

//AUTO GENERATE FOUNDATION COLORS: (CAN OVERRIDE)
@import 'helpers/color_functions';
$alert-color: alert($primary-color);//red
$success-color: success($primary-color);//green
$warning-color: warning($primary-color);//yellow/orange
$info-color: info($primary-color);//blue

//ACCENTS CLASSES TO GENERATE: (BACKGROUNDS, BORDERS, AND TEXT-COLOR)
$white: #ffffff;
$black: #000000;
$accent-classes: 	white 	black;
$accent-define: 	$white 	$black;

//OPACITY CLASSES TO GENERATE: (% OPACITY OF ACCENT CLASSES)
$transparent-strong:0.8;
$transparent-medium:0.6;
$transparent-weak:0.4;
$transparent-light:0.2;
$opacity-values:light 				weak 				medium 					strong;
$opacity-define:$transparent-light 	$transparent-weak 	$transparent-medium 	$transparent-strong;

//DIFFERENCE IN SHADE WHEN ACCENTING COMPONENTS
$primary-difference: 30;
$transition-brighten: 8%;

//PUT BUILDER HERE?