//expand
table{
	//EXPAND
	width:100%;
	//FIX SPACING
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	//&*default
}

//BUILDERS
//inverse, additional color pallets, highlight colors