small.error{
	padding: 0.56rem 0.5625rem 0.5625rem;
	padding-left: -30px;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	font-weight: normal;
	border-radius: $global-radius;
	font-weight: 200;
}
small.error:before{
	position: relative;
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid $alert-color;
	left: 2px;
	top: -19px;
	margin-right:-14px;
	content: '';
}